.bgd {
    background-color: rgb(226, 85, 68);
    height: 350px;
}


.about {
    float: left;
    width: 70%;
    align-self: left;
    color: rgb(255, 255, 255);
}

.avatar {
    width: 200px;
    height: 200px;
}

.contacts {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.title {
    color: rgb(226, 85, 68);
}


.container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}